
#objeto1{
    background-color: cornflowerblue;
    border: 4px; color: lavender;
}

#objeto2{
    background-color: mediumpurple;
    border: 4px; color: blueviolet;
}

#objeto3{
    background-color: lightpink;
    border: 4px; color: fuchsia;

}

#objeto4{
    background-color: lightseagreen;
    border: 4px; color: hotpink;
}