header{
    background-color: lavender;
    border: 3px;
    text-align: center;
}
#cuadrado1{
    background-color: lightsteelblue;
    border: 3px; color: cornflowerblue;
    text-align: center;
    height: 200px;
}

#cuadrado2{
    background-color: lightpink;
    border: 3px; color: darkmagenta;
    text-align: center;
    height: 200px;
}

#cuadrado3{
    background-color: lightyellow;
    border: 3px; color:lavender;
    text-align: center;
    height: 200px;

}

#aside{
    background-color: lightblue;
    border: 3px; color: dodgerblue;
    text-align: center;
    height: 400px;

}

#footer{
    background-color: deepskyblue;
    color:ghostwhite;
    text-align: center;

}